@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:  hsl(30, 54%, 90%);
    font-family: "Young Serif", serif;
    font-weight: 400px;
    font-size: 16px;
}
.recipe-img{
    width: 100%;
    border-radius: 8px;
}
.mother{
    width: 90%;
    /* max-width: 500px; */
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

.text-content{
    padding: 0.3rem 0.7rem;
}
.preparation{
    background-color: hsl(330, 100%, 98%);
    padding: 7px;
}
.prepare{
    color: hsl(332, 51%, 32%);
}
.ingredients{
    color: hsl(14, 45%, 36%);
}
.instructions{
    color: hsl(14, 45%, 36%);
}
.nutrition{
    color: hsl(14, 45%, 36%);
}
.first-number{
     color: hsl(14, 45%, 36%);;  
}
/* responsiveness */

@media (width > 768px) {
    .mother{
        width: 40%;
        padding: 25px;
    }
}